{% extends 'base_bulma.html' %}


{% block title %}Ordering App{% endblock title %}
{% block h1 %}Homepage{% endblock h1 %}

{% block main %}
      {{user.role}}
  {% if user.is_authenticated %}
    {% if user.role is 3 and user.is_authenticated %}
    {% else %}
    <button>
      <a href="{% url 'sellers_table' %}">Sellers table</a>
    </button>
    <button>
      <a href="{% url 'item_create' %}">New item</a>
    </button>
    {% endif %}
  {%endif%}

{% if user.is_authenticated %}
<p>Siemano {{ user.username }} !</p>
<div style="float:right;" ><a class='button is-right' href="{% url 'logout' %}">Log Out</a></div>
{% else %}
<div style="float:right;" ><a class='button is-right' href="{% url 'login' %}">Log in</a></div>
<div style="float:right;" ><a class='button is-right' href="{% url 'customer_create' %}">Sign up</a></div>

{% endif %}

  <ul>
    <li><a href="{% url 'customer_table' %}">Customers</a></li>
    <li>Items</li>
    <li>Orders</li>
  </ul>
{% endblock main %}
